.search-box{
    padding-left: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex: o.7;
    
  }
  
  .search-box input{
    border: 0;
    background: transparent;
    outline: 0;
    flex: 1;
    font-size: 15px;
    letter-spacing: 1px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  .ui h2{
    margin-left: 30px;
    text-align: center;
    text-shadow: 3px 3px 3px #ababab;
    font-size: 30px;
    font-family: "Audiowide", sans-serif;
    color: rgb(108, 51, 90);
    text-shadow: 8px solid rgb(110, 77, 77);

  }